/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ADD8E6;
    flex-direction: column;
}

/* Header Styling */
header {
    text-align: center;
    margin-bottom: 50px; /* Reduce padding to bring the camera area closer */
    padding-bottom: 0;
}

h1 {
    font-size: 2rem;
    color: #333;
    font-weight: bold;
}

/* Main Camera Area */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

video {
    width: 500px;
    height: 375px;
    border-radius: 12px;
    /* border: 2px solid #333; */
    background-color: #000;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}
